<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/mainTheme :: head"></head>
<body>
<header th:replace="fragments/mainTheme :: header"></header>
<a th:replace="fragments/mainTheme::backgroundImage"></a>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="451556667136-r0ubhff0pl4jn44gaqdid05nvp0knopc.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
</body>
</html>
